@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
  font-family: 'Merriweather', serif;
}

option {
  color: black;
}

.border-26-op {
  opacity: 0.26;
}
.bg-03B1B1 {
  background-color: #03b1b1;
}
.bg-00A5A5 {
  background-color: #00a5a5;
}

.custom-font {
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
}

.btn-status {
  padding: 3px 6px;
  border-radius: 10px 10px 0px 14px;
  cursor: pointer;
}

.btn-status-success {
  background-color: #49bc9d;
}
.btn-status-pedding {
  background-color: #f1bc19;
}
.btn-status-delete {
  background-color: #ee5b6c;
}
.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.scrollbar-2-px {
  scrollbar-width: thin; /* Firefox: Makes the scrollbar thinner */
  -ms-overflow-style: none; /* Internet Explorer 10+: Hides the scrollbar */
  scrollbar-color: #00a5a5 orange;
}

.scrollbar-2-px::-webkit-scrollbar {
  width: 2px; /* Chrome, Safari, and Opera: Set scrollbar width */
}

.scrollbar-2-px::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Customize scrollbar thumb color */
  border-radius: 10px; /* Add rounded corners */
}
